name: Daily SupaBase Restore-Project API call
on:
  schedule:
    - cron: "*/5 * * * *"   # each 15 minutes
  workflow_dispatch:

jobs:
  call_api:
    runs-on: ubuntu-latest
    steps:
      - name: Call SupaBase API
        env:
          API_KEY: ${{ secrets.API_KEY }}
        run: |
          curl -X POST "https://api.supabase.com/v1/projects/kteccplzqdqymrhhyxsw/restore" -H "Authorization: Bearer $API_KEY"
